.App {
  min-height: 100vh;
}

.backgroundImage {
  background-image: url("./assets/images/Mojave Day.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
