.App {
  min-height: 100vh;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.backgroundImage {
  background-image: url("./assets/images/Mojave Day.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.dockContainer {
  align-self: flex-end;
}

.iconImg {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  height: calc(100% - 4px - 2px);
}
